<div class="hero_area">
    <div class="bg-box">
        <img src="{{ asset('build/images/hero-bg.jpg') }}" alt="" />
    </div>
    {% include "/layouts/nav/navlinks.html.twig" %}
</div>
{% set link = set_active_route(path('app_cart')) %}
<div
    class="flash-message"
    id="js-flash-message"
    style="height: 40px; width:350px;{{
        link == 'active' ? 'background-color: #eee' : ''
    }}; float:right;"
>
    {% include "layouts/flash_message.html.twig" %}
</div>
