<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom"
>
    <h1 class="h2">Reports</h1>
    <div class="btn-toolbar mb-md-0">
        <a class="add" href="{{ path('app_admin_report') }}"
            ><i class="fa fa-sign-out"></i> back to list</a
        >
    </div>
</div>
