<div
    class="modal fade bd-example-modal-lg"
    id="productModal{{ product.id }}"
    role="dialog"
    tabindex="-1"
    aria-labelledby="exampleModalLabel{{ product.id }}"
    aria-hidden="true"
    data-backdrop="static"
>
    <!-- content -->
    {% include "menu/layouts/modal/content.html.twig" %}
</div>
